body {
    background-image: url('../image/backgorund2.webp'); /* Đường dẫn đến ảnh nền */
    background-size: cover; /* Tự động điều chỉnh kích thước ảnh để phủ toàn bộ trang */
    background-position: center; /* Đặt ảnh nền ở giữa */
    background-repeat: no-repeat; /* Không lặp lại ảnh nền */
}

.d-flex {
    background-color: rgba(240, 248, 255, 0.3); 
}

.register-verify-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}

.input-group {
    margin-bottom: 5px;
}

.input-group-info {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

label {
    font-size: 20px;  /* Tăng kích thước chữ của label để dễ đọc */
    display: block;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0068ff;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message, .success-message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
}

.form-group {
    position: relative;
}

.error {
    font-size: 17px;  /* Giảm kích thước chữ của thông báo lỗi cho vừa với label */
    color: #d9534f;  /* Đặt màu đỏ cho thông báo lỗi */
    margin-top: 5px;
}
